PORT=5000
NODE_ENV=development
DATABASE_URL=#your_mongodb_atlas_connection_string
JWT_SECRET=#choose_a_long_random_string
JWT_REFRESH_SECRET=#choose_a_different_long_random_string
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=#your_name
CLOUDINARY_API_KEY=#your_key
CLOUDINARY_API_SECRET=#your_secret
GROQ_API_KEY=your_groq_api_key_here